<p style="color: green"><%= notice %></p>

<% content_for :title, "Test types" %>

<h1>Test types</h1>

<div id="test_types">
  <% @test_types.each do |test_type| %>
    <%= render test_type %>
    <p>
      <%= link_to "Show this test type", test_type %>
    </p>
  <% end %>
</div>

<%= link_to "New test type", new_test_type_path %>
